<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDPbQ1H5255RwZ6h6RY6kzVev3yzirvG5g</string>
	<key>GCM_SENDER_ID</key>
	<string>251487394795</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pl.polsl.iLocateApp</string>
	<key>PROJECT_ID</key>
	<string>ilocateswiftuiappfirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>ilocateswiftuiappfirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:251487394795:ios:fa0e760948863be5db97ae</string>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>Our app uses Bluetooth to find, connect and transfer data between different devices</string>
</dict>
</plist>
